<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{chain}} Increased by 3%!</title>
  </head>
  <body>
    <div class='container'>
      <h1>Price Alert for {{chain}} by Affan Mustafa</h1>
      <p>The price of
        {{chain}}
        has increased by more than 3% compared to its price one hour ago.</p>
      <p>
        <strong>Current Price:</strong>
        ${{price}}<br />
        <strong>Price One Hour Ago:</strong>
        ${{dollar}}
      </p>
      <div class='footer'>
        <p>ETH/POL Price Alert Team</p>
      </div>
    </div>
  </body>
</html>